.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #8f8e8a, #a82d94 48%, #4488c0);
}
.auth-form-container, .login-form, .register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

